<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Movie<mark>DB</mark></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/wishlist">Wishlist</a>
      </li>
    </ul>
  </div>
</nav>
